*, html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', Sans-Serif;
}
.container{
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  animation: all 1s ease-out;
}
.bg{
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  box-shadow: 0 0 15px 15px black;
  background-image: url('bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
/*NAVIGATION...................*/
.bos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 91.5%;
  height: 30px;
  background-color: #272727;
  box-shadow: 0 7px 15px 0 rgba(0,0,0,0.5);
}
*{
  animation: masok 1s ease-out;
  
}
@keyframes masok{
  from{
    opacity: 0;
    transform: translateY(10px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
.nama{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1px;
  font-weight: bold;
  text-transform: capitalize;
}
.hiji{
  font-size: 13px;
  color: white;
}
.dua{
  font-size: 20px;
  color: crimson;
}
.kolom{
  margin-left: 70px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 11px;
  text-transform: capitalize;
}
li{
  list-style: none;
}
a, .blh{
  color: white;
  text-decoration: none;
}
.onn{
  font-size: 13px;
  padding: 10px;
  background-color: crimson;
}
img{
  height: 30px;
  width: auto;
  border-radius: 100%;
}
img:hover{
  height: 33px;
  width: auto;
  border-radius: 100%;
  transition: all .3s ease-in-out;
}
/*ISI................*/
.isi{
  display: flex;
  flex-direction: column;
  height: 88%;
  width: 98%;
  justify-content: center;
  align-items: center;
}
.heading{
  display: flex;
  flex-direction: row;
  gap: 1em;
  text-transform: capitalize;
  font-size: 12px;
}
h1{
  font-weight: 900;
}
.t1{
  color: #ffffffc7;
}
.t2{
  color: crimson;
  text-shadow: 0 0 10px crimson;
}
p{
  text-align: center;
  padding: 8px 50px;
  color: white;
  font-size: 9px;
  opacity: .6 !important;
}
.medsos{
  margin-top: 15px;
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.medsos>img{
  width: 25px;
  height: auto;
}